h1 {
		font-size:60px;
		font-weight:bold;
		text-align:center;
		padding-top:20px;
	}
.header {
			padding:10px;
			text-align:center;
		}
.body {
			font-size:20px;
			height:400;
			width:350;
			padding-left:70;
			float:left;
		}
a {
			text-decoration:none;
			color:#999;
			font-weight:bold;
		}
a:hover {
			color:black;
		}
.newUser {
			font-size:20px;
			text-align:center;
			padding-top:30px;
		}
.incorrect {
			color:red;
		}
.login {
   			right:5px;
    		top:-150px;
    		text-align:right;
    		position:relative;
  		}